- model_class = Comment
- title model_class.model_name.human.pluralize(:ru), :admin
.page-header
  %h1
    = model_class.model_name.human.pluralize(:ru)
    = link_to t('.new', default: t('helpers.links.new')), new_admin_comment_path, class: 'btn btn-primary'
= paginate @comments, theme: 'twitter-bootstrap-3'
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:body)
      %th= model_class.human_attribute_name(:user)
      %th= model_class.human_attribute_name(:snippet)
      %th= t 'helpers.links.actions'
  %tbody
    - @comments.each do |comment|
      %tr.link{ data: { href: edit_admin_comment_path(comment) } }
        %td= comment.id
        %td= comment.body
        %td= comment.user.login
        %td= comment.snippet.title
        %td.actions
          = link_to edit_admin_comment_path(comment), class: 'btn btn-warning btn-xs' do
            %span.glyphicon.glyphicon-pencil
          = link_to admin_comment_path(comment), method: :delete, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-remove
= paginate @comments, theme: 'twitter-bootstrap-3'
= link_to t('.new', default: t('helpers.links.new')), new_admin_comment_path, class: 'btn btn-primary'
